<h1>Nuggets</h1>

<table border="1">
		<tr>
			<td>Name</td>
			<td>Description</td>
			<td>Tags</td>
			<td>Marked for Review?</td>
		</tr>
	<% for nugget in @nuggets %>
		<tr>
			<td> <%= nugget.name %> </td>
			<td> <%= nugget.description %> </td>
			<td> <%= nugget.tags %> </td>
			<td> <%= nugget.markForReview %> </td>
		</tr>
	<% end %>
</table>